.profile-rounded {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 10px;
}

.col-md-3 {
  text-align: left;
}

h5 {
  margin-top: 0;
}

hr {
  opacity: 0.0;
  margin: 10px auto;
}

.about {
  a {
    color: #CCC;
    transition: color 300ms;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  a:visited {
    color: #999;
  }
  a:visited:hover {
    color: #fff;
  }
}

.row.m {
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 20px;
  background: #4A4A4A;
}