* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  vertical-align: top;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100%;
  height: 100%;
}