@import "fonts", "reset";

.container {
  width: 980px;
}

#head {
  background: url(/assets/images/battlefield-0.jpg) center center no-repeat;
  height: 600px;
  background-size: cover;
  width: 100%;
}