FORMAT: 1A
HOST: http://4playdb.me

# 4Play

4Play is a web-accessible games database that places special emphasis on a pleasurable design and supports a REST API

# Group Game

## List [GET /api/games/?offset={offset}&limit={limit}]

Returns a list of games starting at ID = offset and going up to ID = offset + min(25, limit)

+ Parameters
    + offset: 1 (required, number) - Start index
    + limit: 1 (required, number) - Number of games to get (max: 25)

+ Response 201 (application/json)

        {
          "message": "Success",
          "time": "0.01s",
          "status": 0,
          "results": [
            {
              "deck": "An upgraded version of the independently-developed puzzle-strategy game Squarez.",
              "name": "Squarez Deluxe!",
              "id": 56,
              "images": [
                {
                  "source": "http://static.giantbomb.com/uploads/scale_medium/0/7465/1720871-10154_squarez_deluxe_dos_screenshot_main_menu.gif"
                },
                {
                  "source": "http://www.oldgames.sk/images/magazine/pareniste/2/squarez.png"
                },
                {
                  "source": "http://i.ytimg.com/vi/84ACrGrMtmI/maxresdefault.jpg"
                },
                {
                  "source": "http://i.ytimg.com/vi/YxMn0DUPluw/maxresdefault.jpg"
                },
                {
                  "source": "http://static.giantbomb.com/uploads/original/10/100063/1426647-obraz__12_.jpg"
                },
                {
                  "source": "http://www.oldgames.sk/gallery_image.php?gallery=292;weight=10"
                },
                {
                  "source": "http://www.oldgames.sk/gallery_image.php?gallery=292;weight=11"
                },
                {
                  "source": "http://static.giantbomb.com/uploads/original/3/32741/1210038-venice_menu.jpg"
                },
                {
                  "source": "https://f1.bcbits.com/img/0000926712_10.jpg"
                },
                {
                  "source": "http://opelunun.science/pics-upload.wikimedia.org/wikipedia/commons/f/f5/Dell_Front.JPG"
                },
                {
                  "source": "http://www.old-games.com/screenshot/9870-1-stalin-subway-the-red-veil.jpg"
                }
              ]
            }
          ]
        }    

#### Get [GET /api/game/{game_id}]

Returns the game specified by ID = game_id

These are the fields that will describe a game:

+ Name: Name of the game
+ Rating: Average rating for this game
+ ReleaseDate: Original release date of the game
+ Franchises: Franchises for the game
+ Genres: Array of Genres
+ Description: Summary of game
+ Deck: Overview of game
+ Videos: Array of related (embeddable) videos URLs
+ Images: Array of related image URLs
+ Developers: Array of companies which developed game
+ Publishers: Array of companies which published game
+ Platforms: Array of platforms game has been released on

+ Parameters
    + game_id: `56` (number, optional) - Id of a game
        + Default: `56`
    
+ Response 201 (application/json)

        
        {
          "message": "Success",
          "time": "0.00s",
          "status": 0,
          "results": [
            {
              "deck": "An upgraded version of the independently-developed puzzle-strategy game Squarez.",
              "videos": [
                {
                  "source": "https://www.youtube.com/embed/-3jDqvO_68U"
                },
                {
                  "source": "https://www.youtube.com/embed/84ACrGrMtmI"
                },
                {
                  "source": "https://www.youtube.com/embed/4tg_gZovT4k"
                },
                {
                  "source": "https://www.youtube.com/embed/08sfayp2W9M"
                },
                {
                  "source": "https://www.youtube.com/embed/qkbg_TDhC70"
                },
                {
                  "source": "https://www.youtube.com/embed/HcA7FO312Ts"
                },
                {
                  "source": "https://www.youtube.com/embed/7qZJwlOoa3Q"
                },
                {
                  "source": "https://www.youtube.com/embed/puQmXTembuw"
                },
                {
                  "source": "https://www.youtube.com/embed/UwFGn3c7gM4"
                },
                {
                  "source": "https://www.youtube.com/embed/SfA0PFVkXA8"
                },
                {
                  "source": "https://www.youtube.com/embed/dXP_tJIf7o0"
                }
              ],
              "name": "Squarez Deluxe!",
              "id": 56,
              "release_date": "1993-12-31T06:00:00",
              "platforms": [
                {
                  "game_name": "Squarez Deluxe!",
                  "game_deck": "An upgraded version of the independently-developed puzzle-strategy game Squarez.",
                  "platform_id": 94,
                  "platform_name": "PC",
                  "platform_deck": "The PC (Personal Computer) is a highly configurable and upgradable gaming platform that, among home systems, sports the widest variety of control methods, largest library of games, and cutting edge graphics and sound capabilities.",
                  "game_id": 56
                }
              ],
              "publishers": [
                {
                  "game_name": "Squarez Deluxe!",
                  "game_id": 56,
                  "game_deck": "An upgraded version of the independently-developed puzzle-strategy game Squarez.",
                  "company_name": "Acclaim Studios Manchester",
                  "company_id": 6069,
                  "company_deck": "Acclaim Studios Manchester was previously known as Software Creations. They went out of business prior to Acclaim dismantling."
                }
              ],
              "images": [
                {
                  "source": "http://static.giantbomb.com/uploads/scale_medium/0/7465/1720871-10154_squarez_deluxe_dos_screenshot_main_menu.gif"
                },
                {
                  "source": "http://www.oldgames.sk/images/magazine/pareniste/2/squarez.png"
                },
                {
                  "source": "http://i.ytimg.com/vi/84ACrGrMtmI/maxresdefault.jpg"
                },
                {
                  "source": "http://i.ytimg.com/vi/YxMn0DUPluw/maxresdefault.jpg"
                },
                {
                  "source": "http://static.giantbomb.com/uploads/original/10/100063/1426647-obraz__12_.jpg"
                },
                {
                  "source": "http://www.oldgames.sk/gallery_image.php?gallery=292;weight=10"
                },
                {
                  "source": "http://www.oldgames.sk/gallery_image.php?gallery=292;weight=11"
                },
                {
                  "source": "http://static.giantbomb.com/uploads/original/3/32741/1210038-venice_menu.jpg"
                },
                {
                  "source": "https://f1.bcbits.com/img/0000926712_10.jpg"
                },
                {
                  "source": "http://opelunun.science/pics-upload.wikimedia.org/wikipedia/commons/f/f5/Dell_Front.JPG"
                },
                {
                  "source": "http://www.old-games.com/screenshot/9870-1-stalin-subway-the-red-veil.jpg"
                }
              ],
              "genres": "Puzzle",
              "description": "<p style=\"\">.</p>",
              "developers": [
                {
                  "game_name": "Squarez Deluxe!",
                  "game_deck": "An upgraded version of the independently-developed puzzle-strategy game Squarez.",
                  "company_name": "Adept Software",
                  "company_id": 109,
                  "game_id": 56
                }
              ]
            }
          ]
        }   

# Group Company

## List [GET /api/companies/?offset={offset}&limit={limit}]

Returns a list of companies starting at ID = offset and going up to ID = offset + min(25, limit)

+ Parameters
    + offset: 1 (required, number) - Start index
    + limit: 1 (required, number) - Number of companies to get (max: 25)

+ Response 201 (application/json)

        {
          "message": "Success",
          "time": "0.01s",
          "status": 0,
          "results": [
            {
              "deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
              "name": "Gremlin Interactive Ltd.",
              "id": 3,
              "images": [
                {
                  "source": "http://static.giantbomb.com/uploads/scale_medium/0/3161/275837-grem.jpeg"
                },
                {
                  "source": "http://hbvideogames.com/system/video_games/avatars/000/001/776/original/Footballer_20of_20the_20Year.jpg?1418726191"
                },
                {
                  "source": "http://www.oldgames.sk/images/magazine/level/1996/06/level17-066.jpg"
                },
                {
                  "source": "http://static.giantbomb.com/uploads/original/9/93770/2365471-jag_zool2.jpg"
                },
                {
                  "source": "http://plus4world.powweb.com/dl/covers/g/gremlin_graphics_atari_c16_advert.jpg"
                },
                {
                  "source": "http://img185.imageshack.us/img185/4700/k240new1ok1.jpg"
                },
                {
                  "source": "http://i.ytimg.com/vi/RJPdZlPaSqo/maxresdefault.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Infogrames_logo.svg/1280px-Infogrames_logo.svg.png"
                },
                {
                  "source": "http://download.abandonware.org/magazines/PC%20JEUX/pcjeux_numero002/PCJeux002-Page094-1997-09.jpg"
                },
                {
                  "source": "http://download.abandonware.org/magazines/Joypad/joypad_numero081/JOYPAD%2081%20decembre%201998%20128.jpg"
                },
                {
                  "source": "https://s3-eu-west-1.amazonaws.com/auctionbucket/larb/lot/rblot79/img01.jpg"
                }
              ]
            }
          ]
        }   
        
#### Get [GET /api/company/{company_id}]

Returns the company specified by ID = company_id

These are the fields that will describe a company:

+ Name
+ ID
+ FoundedDate
+ LocationAddress
+ LocationCity
+ LocationState
+ LocationCountry
+ Phone
+ Images: Array of images
+ Website: Company website
+ Description: Summary of game
+ DevelopedGames: Array of games developed
+ Concepts: Company values, mission statement
+ PublishedGames: Array of games published
+ Platforms: Array of platforms developed/published on

+ Parameters
    + company_id: `3` (number, optional) - Id of a company
        + Default: `3`
    
+ Response 201 (application/json)

        
        {
          "message": "Success",
          "time": "0.00s",
          "status": 0,
          "results": [
            {
              "website": "http://www.gremlin.co.uk/",
              "videos": [
                {
                  "source": "https://www.youtube.com/embed/5ygJYGfZp5k"
                },
                {
                  "source": "https://www.youtube.com/embed/mmqd6eNXY2Q"
                },
                {
                  "source": "https://www.youtube.com/embed/iissuLZE1WY"
                },
                {
                  "source": "https://www.youtube.com/embed/Z5JzeV5FZL0"
                },
                {
                  "source": "https://www.youtube.com/embed/CJYckHh2k-Q"
                },
                {
                  "source": "https://www.youtube.com/embed/DeAdTq7frL0"
                },
                {
                  "source": "https://www.youtube.com/embed/ZKkpvJHdeLU"
                },
                {
                  "source": "https://www.youtube.com/embed/0-BEFVd2GIk"
                },
                {
                  "source": "https://www.youtube.com/embed/rCZVwWEiaVk"
                },
                {
                  "source": "https://www.youtube.com/embed/mbcMTvjN-w4"
                },
                {
                  "source": "https://www.youtube.com/embed/_J4gao2cdcw"
                }
              ],
              "state": "South Yorkshire",
              "developed_games": [
                {
                  "game_name": "Emilio Butragueño 2",
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "game_id": 8504
                },
                {
                  "game_name": "Actua Tennis",
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "game_id": 15397
                },
                {
                  "game_name": "Actua Pool",
                  "game_id": 22280,
                  "game_deck": "Actua Pool is a pool game that is on the  Nintendo DS.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001."
                }
              ],
              "published_games": [
                {
                  "game_name": "Wild Metal Country",
                  "game_id": 1571,
                  "game_deck": "Take your tank and take back the land from rogue robots as you cross rolling hills and lob shots over various obstacles.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001."
                },
                {
                  "game_name": "Chart Attack",
                  "game_id": 5524,
                  "game_deck": "Another compilation of games.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001."
                },
                {
                  "game_name": "Actua Tennis",
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "game_id": 15397
                },
                {
                  "game_name": "Actua Pool",
                  "game_id": 22280,
                  "game_deck": "Actua Pool is a pool game that is on the  Nintendo DS.",
                  "company_name": "Gremlin Interactive Ltd.",
                  "company_id": 3,
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001."
                }
              ],
              "platforms": [
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 1,
                  "platform_name": "Amiga",
                  "platform_deck": "The Amiga was a personal computer from Commodore that was released in a variety of different configurations.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 11,
                  "platform_name": "Amstrad CPC",
                  "platform_deck": "The Amstrad CPC (Colour Personal Computer) was a series of 8-bit personal computers developed by Amstrad between 1984 and 1990. During its lifetime, approximately 3 million CPCs were sold.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 13,
                  "platform_name": "Atari ST",
                  "platform_deck": "Atari's 16-bit computer line was one of the most popular computers in the mid-80's to early 90's.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 15,
                  "platform_name": "MSX",
                  "platform_deck": "MSX is a standardized home computer architecture. It was popular in Japan, South Korea, Brazil, Netherlands, France, Spain, Finland, Arabian Gulf countries and former Soviet Union during the 1980s. Like the PC of today, the MSX computers were manufactured by many different companies.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 16,
                  "platform_name": "ZX Spectrum",
                  "platform_deck": "The ZX Spectrum is one of the most popular European computers of all time.  Its software library is enormous and its fame in Europe rivals the Commodore 64 in the US.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 22,
                  "platform_name": "PlayStation",
                  "platform_deck": "Sony's first video game console established the PlayStation brand. It dominated the 32/64-bit era and was the best-selling home console up until the PlayStation 2.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 52,
                  "platform_name": "Nintendo DS",
                  "platform_deck": "The Nintendo DS is a handheld featuring two screens, one of which is a resistive touchscreen. Four different models are available: the original DS, the DS Lite, the DSi, the DSi XL.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                },
                {
                  "company_deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
                  "platform_id": 94,
                  "platform_name": "PC",
                  "platform_deck": "The PC (Personal Computer) is a highly configurable and upgradable gaming platform that, among home systems, sports the widest variety of control methods, largest library of games, and cutting edge graphics and sound capabilities.",
                  "company_id": 3,
                  "company_name": "Gremlin Interactive Ltd."
                }
              ],
              "city": "Sheffield",
              "deck": "A UK-based games developer which created the Actua Soccer franchise among many others. The company began as Just Micro, changing its name to Gremlin Graphics Software and eventually Gremlin Interactive. After it was purchased by Infogrames in 1999 it became Infogrames Sheffield House. It closed its doors in 2001.",
              "name": "Gremlin Interactive Ltd.",
              "id": 3,
              "country": "United Kingdom",
              "images": [
                {
                  "source": "http://static.giantbomb.com/uploads/scale_medium/0/3161/275837-grem.jpeg"
                },
                {
                  "source": "http://hbvideogames.com/system/video_games/avatars/000/001/776/original/Footballer_20of_20the_20Year.jpg?1418726191"
                },
                {
                  "source": "http://www.oldgames.sk/images/magazine/level/1996/06/level17-066.jpg"
                },
                {
                  "source": "http://static.giantbomb.com/uploads/original/9/93770/2365471-jag_zool2.jpg"
                },
                {
                  "source": "http://plus4world.powweb.com/dl/covers/g/gremlin_graphics_atari_c16_advert.jpg"
                },
                {
                  "source": "http://img185.imageshack.us/img185/4700/k240new1ok1.jpg"
                },
                {
                  "source": "http://i.ytimg.com/vi/RJPdZlPaSqo/maxresdefault.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Infogrames_logo.svg/1280px-Infogrames_logo.svg.png"
                },
                {
                  "source": "http://download.abandonware.org/magazines/PC%20JEUX/pcjeux_numero002/PCJeux002-Page094-1997-09.jpg"
                },
                {
                  "source": "http://download.abandonware.org/magazines/Joypad/joypad_numero081/JOYPAD%2081%20decembre%201998%20128.jpg"
                },
                {
                  "source": "https://s3-eu-west-1.amazonaws.com/auctionbucket/larb/lot/rblot79/img01.jpg"
                }
              ],
              "description": "<h2>Overview</h2><p style=\"\">Gremlin Interactive was a British game development studio situated in Sheffield, South Yorkshire. They were originally known as Gremlin Graphics Software Ltd. but changed their name to Gremlin Interactive in 1994.</p><p style=\"\">Initially, the company was a computer shop located in Sheffield, England called Just Micro. It subsequently expanded to become a full-fledged software house. By April 1999, Gremlin grew to a large company, emplying more than 300 people. Gremlin's primary publisher (in the US) was <a href=\"http://www.giantbomb.com/interplay-entertainment-corp/3010-580/\" data-ref-id=\"3010-580\">Interplay</a>. The company was acquired by <a href=\"http://www.giantbomb.com/atari-sa/3010-548/\" data-ref-id=\"3010-548\">Infogrames</a> in 1999 and was subsequently closed in 2003, though the Gremlin name itself was effectively defunct as of the 1999 acquisition. The original founder of the company,<a href=\"http://www.giantbomb.com/ian-stewart/3040-20194/\" data-ref-id=\"3040-20194\"> Ian Stewart</a>, and his new company <a href=\"/urbanscan/3010-7675/\" data-ref-id=\"3010-7675\">Urbanscan</a> bought back the company's catalog and name from Atari in 2011.</p><p style=\"\">Gremlin Interactive were also known for purchasing DMA Design in 1996, the Scottish company that produced Lemmings and the first Grand Theft Auto and would one day become <a href=\"/rockstar-north/3010-1408/\" data-ref-id=\"3010-1408\">Rockstar North</a>. Control of DMA Design was (briefly) passed to Infogrames after the French company's acquisition of Gremlin.</p><p style=\"\">Many of Gremlin's most successful products were sports and racing games such as <a href=\"http://www.giantbomb.com/lotus/3025-1364/\" data-ref-id=\"3025-1364\">Lotus</a>,<a href=\"http://www.giantbomb.com/premier-manager/3030-13401/\" data-ref-id=\"3030-13401\"> Premier Manager,</a> <a href=\"http://www.giantbomb.com/micro-machines/3030-2140/\" data-ref-id=\"3030-2140\">Micro Machines</a> and <a href=\"http://www.giantbomb.com/actua-soccer/3030-2305/\" data-ref-id=\"3030-2305\">Actua Soccer</a>. The also enjoyed acclaim and fan devotion for their computer game conversions of the <a href=\"/games-workshop-ltd/3010-1986/\" data-ref-id=\"3010-1986\">Games Workshop</a> table-top games <a href=\"http://www.giantbomb.com/space-crusade/3030-16802/\" data-ref-id=\"3030-16802\">Space Crusade</a> and <a href=\"http://www.giantbomb.com/hero-quest/3030-9695/\" data-ref-id=\"3030-9695\">Hero Quest</a>.</p>",
              "founded_date": "1984-01-01T06:00:00",
              "concepts": "Easter Egg;Projectiles;Wall Jump;Teleportation;Ninja"
            }
          ]
        } 
        
        
# Group Platform

## List [GET /api/platforms/?offset={offset}&limit={limit}]

Returns a list of platforms starting at ID = offset and going up to ID = offset + min(25, limit)

+ Parameters
    + offset: 1 (required, number) - Start index
    + limit: 1 (required, number) - Number of platforms to get (max: 25)

+ Response 201 (application/json)

        {
          "message": "Success",
          "time": "0.01s",
          "status": 0,
          "results": [
            {
              "deck": "Nintendo's first handheld gaming console was immensely popular among gamers, selling millions. Despite its grayscale color scheme, it still got support from developers and publishers.",
              "name": "Game Boy",
              "id": 3,
              "images": [
                {
                  "source": "http://static.giantbomb.com/uploads/scale_medium/0/1992/1426210-logo.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/f/f4/Game-Boy-FL.jpg"
                },
                {
                  "source": "http://vignette1.wikia.nocookie.net/nintendo/images/6/6f/Game_Boy_(Grey_Model).png/revision/latest?cb=20121110153849&path-prefix=en"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/6/66/Game-Boy-Light-FL.jpg"
                },
                {
                  "source": "http://media.gamerevolution.com/images/misc/game-boy-slant.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/a/a1/Game-Boy-Advance-SP-Mk1-Blue.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/c/cb/Game-Boy-Advance-1stGen.jpg"
                },
                {
                  "source": "http://h.fastcompany.net/multisite_files/fastcompany/poster/2014/07/3033678-poster-p-1-how-to-hack-a-new-brain-for-your-old-gameboy.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/7/70/Game-Boy-Advance-Blk.jpg"
                },
                {
                  "source": "http://www.blendernation.com/wp-content/uploads/2014/03/game-boy-3d.png"
                },
                {
                  "source": "http://vignette1.wikia.nocookie.net/mario/images/e/ef/Game_Boy_Advance_SP_-_Cyan_Model.png/revision/latest?cb=20120513192939"
                }
              ]
            }
          ]
        }    
        
#### Get [GET /api/platforms/{platform_id}]

Returns the platform specified by ID = platform_id

These are the fields that will describe a platform:

+ Name
+ ID
+ ReleaseDate
+ Price
+ InstallBase
+ OnlineSupport: Platform provides online support
+ Description
+ Deck: Short summary
+ Images: Array of images
+ Companies: Array of related companies
+ Games: Array of related games

+ Response 201 (application/json)

+ Parameters
    + company_id: `3` (number, optional) - Id of a platform
        + Default: `3`
    
+ Response 201 (application/json)

        {
          "message": "Success",
          "time": "0.00s",
          "status": 0,
          "results": [
            {
              "deck": "Nintendo's first handheld gaming console was immensely popular among gamers, selling millions. Despite its grayscale color scheme, it still got support from developers and publishers.",
              "name": "Game Boy",
              "id": 3,
              "images": [
                {
                  "source": "http://static.giantbomb.com/uploads/scale_medium/0/1992/1426210-logo.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/f/f4/Game-Boy-FL.jpg"
                },
                {
                  "source": "http://vignette1.wikia.nocookie.net/nintendo/images/6/6f/Game_Boy_(Grey_Model).png/revision/latest?cb=20121110153849&path-prefix=en"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/6/66/Game-Boy-Light-FL.jpg"
                },
                {
                  "source": "http://media.gamerevolution.com/images/misc/game-boy-slant.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/a/a1/Game-Boy-Advance-SP-Mk1-Blue.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/c/cb/Game-Boy-Advance-1stGen.jpg"
                },
                {
                  "source": "http://h.fastcompany.net/multisite_files/fastcompany/poster/2014/07/3033678-poster-p-1-how-to-hack-a-new-brain-for-your-old-gameboy.jpg"
                },
                {
                  "source": "https://upload.wikimedia.org/wikipedia/commons/7/70/Game-Boy-Advance-Blk.jpg"
                },
                {
                  "source": "http://www.blendernation.com/wp-content/uploads/2014/03/game-boy-3d.png"
                },
                {
                  "source": "http://vignette1.wikia.nocookie.net/mario/images/e/ef/Game_Boy_Advance_SP_-_Cyan_Model.png/revision/latest?cb=20120513192939"
                }
              ]
            }
          ]
        } 
        
#### Search [GET /api/search/?q={query_string}&offset={off}&limit={lim}]

Searches database for all games, companies, platforms that contain the string query_string
The result is given starting at an offset and a user can also specify how many results they want.

+ Response 201 (application/json)

+ Parameters
    + query_string: `Mario+Luigi+Nintendo` (required, string) - String to query
        + Default: ` `
    + offset: 0 (optional, number) - starting spot
        + Default: 0
    + limit: 2 (optional, number) - number of results to return

+ Response 201 (application/json)

        {  
           "time":"0.05s",
           "status":0,
           "message":"Success",
           "results":[  
              {  
                 "id":"49996",
                 "__highlighting__":{  
                    "deck":[  
                       "<span class=\"highlight\">Mario</span> &amp; Luigi collides with <span class=\"highlight\">Paper</span> <span class=\"highlight\">Mario</span> in this 3DS RPG that uses elements from both franchises."
                    ],
                    "description":[  
                       "This game supports the <span class=\"highlight\">Mario,</span> Luigi, Princess Peach, Yoshi, Toad, Bowser, Dr. <span class=\"highlight\">Mario,</span> 8-bit <span class=\"highlight\">Mario,</span> Yarn Yoshi, and Hammer Slam Bowser amiibo.When these amiibo are scanned,"
                    ],
                    "name":[  
                       "<span class=\"highlight\">Mario</span> & Luigi: <span class=\"highlight\">Paper</span> Jam"
                    ]
                 },
                 "__dist__":1,
                 "__mode__":"AND",
                 "description":"This game supports the <span class=\"highlight\">Mario,</span> Luigi, Princess Peach, Yoshi, Toad, Bowser, Dr. <span class=\"highlight\">Mario,</span> 8-bit <span class=\"highlight\">Mario,</span> Yarn Yoshi, and Hammer Slam Bowser amiibo.When these amiibo are scanned,",
                 "deck":"<span class=\"highlight\">Mario</span> &amp; Luigi collides with <span class=\"highlight\">Paper</span> <span class=\"highlight\">Mario</span> in this 3DS RPG that uses elements from both franchises.",
                 "entity":"game",
                 "name":"<span class=\"highlight\">Mario</span> & Luigi: <span class=\"highlight\">Paper</span> Jam",
                 "images":[  
                    {  
                       "source":"http://www.nintendoworldreport.com/media/40468/4/5.jpg"
                    },
                    {  
                       "source":"http://i.ytimg.com/vi/zI9Ic3tz2lc/maxresdefault.jpg"
                    },
                    {  
                       "source":"http://i.ytimg.com/vi/4rmvUtAjYIM/maxresdefault.jpg"
                    },
                    {  
                       "source":"http://i.ytimg.com/vi/d6MFcnP5LnU/maxresdefault.jpg"
                    },
                    {  
                       "source":"http://i.ytimg.com/vi/aXR9e9V7AkA/maxresdefault.jpg"
                    },
                    {  
                       "source":"https://i.ytimg.com/vi/xn8_yFVxJQ8/maxresdefault.jpg"
                    },
                    {  
                       "source":"http://nerdist.com/wp-content/uploads/2015/06/Mario-Luigi-Paper-Jam-1.png"
                    },
                    {  
                       "source":"https://i.ytimg.com/vi/1cMic4lxrfs/maxresdefault.jpg"
                    },
                    {  
                       "source":"http://gaygamer.net/ggnet/wp-content/uploads/2015/06/mario-paper-jam-craft.jpg"
                    },
                    {  
                       "source":"http://www.gamespresso.com/wp-content/uploads/2015/10/Mario-and-Luigi-Paper-Jam-Nintendo-E3-2015-Stream-02-1280x720.jpg"
                    },
                    {  
                       "source":"http://www.vooks.net/img/2015/06/N3DS_MarioLuigiPaperJam_char_01.jpeg"
                    }
                 ]
              },
              {  
                 "id":"49471",
                 "__highlighting__":{  
                    "deck":[  
                       "An RPG based on the Cartoon Network show Steven Universe. Available on iOS and Android devices for $3. Features turn-based combat with <span class=\"highlight\">Paper</span> <span class=\"highlight\">Mario-style</span>"
                    ]
                 },
                 "__dist__":2,
                 "__mode__":"AND",
                 "deck":"An RPG based on the Cartoon Network show Steven Universe. Available on iOS and Android devices for $3. Features turn-based combat with <span class=\"highlight\">Paper</span> <span class=\"highlight\">Mario-style</span>",
                 "entity":"game",
                 "name":"Attack the Light",
                 "images":[  
                    {  
                       "source":"http://static.giantbomb.com/uploads/scale_medium/8/84290/2755036-untitled.jpg"
                    },
                    {  
                       "source":"https://i.ytimg.com/vi/PnAHigTyJJc/maxresdefault.jpg"
                    },
                    {  
                       "source":"https://lh3.ggpht.com/2gxvF4-hpsyGxIHgsPWF8m7l06cgJXW_KffnRXrjKyTcU4USLG0PEaoqXf_hg0aV9rY=h900"
                    },
                    {  
                       "source":"http://toucharcade.com/wp-content/uploads/2015/04/Attack-the-Light-4.jpg"
                    },
                    {  
                       "source":"http://ift.tt/1xZ1Hlw"
                    },
                    {  
                       "source":"http://www.drunkdorks.com/wp-content/uploads/2015/04/Attack-the-Light-6.jpg"
                    },
                    {  
                       "source":"https://lh6.ggpht.com/XBcPVj-SHGje9bxE-2TvM3SM5wfiCbouXPYEQ1WfQbsBPwbHuxVmPF_Tliruf1bdwQ=h900"
                    },
                    {  
                       "source":"https://lh3.ggpht.com/qPfSwHyVuUra3KQZneSXtPMlMWs5W6UHZgjeG42DY27kCvcuoYCk7AzPcd5EZVoFN0s=h900"
                    },
                    {  
                       "source":"http://i.imgur.com/jsxqjZs.png?1"
                    },
                    {  
                       "source":"http://vignette2.wikia.nocookie.net/steven-universe/images/e/e5/Attack_the_Light_Notes_2.jpg/revision/latest?cb=20150403194512"
                    },
                    {  
                       "source":"http://i.ytimg.com/vi/NSV4KIw-A_Q/maxresdefault.jpg"
                    }
                 ]
              },
              {  
                 "id":"42929",
                 "__highlighting__":{  
                    "deck":[  
                       "<span class=\"highlight\">Mario</span> Kart returns and makes its HD-debut with gravity-defying hover vehicles, a new spin on the traditional track designs,",
                       " online tournaments and <span class=\"highlight\">Mario</span> Kart"
                    ],
                    "description":[  
                       "<span class=\"highlight\">Mario</span> Kart 8 introduces",
                       " Another new feature is <span class=\"highlight\">Mario</span> Kart",
                       " features introduced in <span class=\"highlight\">Mario</span> Kart",
                       " runs at 30fps. <span class=\"highlight\">Mario</span> Kart",
                       " <span class=\"highlight\">Mario</span> Kart TV also records Battle"
                    ],
                    "name":[  
                       "<span class=\"highlight\">Mario</span> Kart 8"
                    ]
                 },
                 "__dist__":50,
                 "__mode__":"OR",
                 "description":"<span class=\"highlight\">Mario</span> Kart 8 introduces... Another new feature is <span class=\"highlight\">Mario</span> Kart... features introduced in <span class=\"highlight\">Mario</span> Kart... runs at 30fps. <span class=\"highlight\">Mario</span> Kart... <span class=\"highlight\">Mario</span> Kart TV also records Battle",
                 "deck":"<span class=\"highlight\">Mario</span> Kart returns and makes its HD-debut with gravity-defying hover vehicles, a new spin on the traditional track designs,... online tournaments and <span class=\"highlight\">Mario</span> Kart",
                 "entity":"game",
                 "name":"<span class=\"highlight\">Mario</span> Kart 8",
                 "images":[  
                    {  
                       "source":"http://static.giantbomb.com/uploads/scale_medium/8/82063/2600974-12510938343_01c49da2be_o.jpg"
                    },
                    {  
                       "source":"http://wiiudaily.com/wp-content/uploads/2014/05/MK8.jpg"
                    },
                    {  
                       "source":"http://nerdreactor.com/wp-content/uploads/2015/04/Mairo-Kart-8.jpg"
                    },
                    {  
                       "source":"http://blogs-images.forbes.com/erikkain/files/2014/05/mario-kart-8-header.jpg"
                    },
                    {  
                       "source":"http://blogs-images.forbes.com/games/files/2014/05/MK8_201402_01.jpg"
                    },
                    {  
                       "source":"http://static5.gamespot.com/uploads/scale_super/1534/15343359/2637193-wiiu_mk8_dlc1_tanukimario_sm.jpg"
                    },
                    {  
                       "source":"http://cdn1.vox-cdn.com/assets/4454697/mariokart8_review_b_1280.jpg"
                    },
                    {  
                       "source":"http://images.nintendolife.com/news/2014/04/new_mario_kart_8_screenshots/attachment/6/original.jpg"
                    },
                    {  
                       "source":"http://static.gamespot.com/uploads/original/536/5360430/2404984-wiiu_mariokart8_121813_scrn_01.jpg"
                    },
                    {  
                       "source":"http://3ebd2a0c0ea48a333aea-1f531def8e8befb67be56667ce3edd11.r77.cf1.rackcdn.com/1b93b38b656a72a4c7b0dd91197dd715d2bf0ef1.jpg__1920x1080_q85_crop_subject_location-987,694_upscale.jpg"
                    },
                    {  
                       "source":"http://blogs-images.forbes.com/erikkain/files/2014/07/Mario-KArt-8.jpg"
                    }
                 ]
              }
           ]
        }
