html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/assets/dist/css/record.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/fixed-data-table.css')
    script(src=('/assets/dist/asr/record/Bootstrap.min.js') defer)
  body
  block props