html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href=assets + 'dist/css/model.min.css')
    link(rel='stylesheet', type='text/css', href=assets + 'css/fixed-data-table.css')
    script(src=(assets + 'dist/asr/model/Bootstrap.min.js') defer)
  body
  script.
    var $ASSETS = '#{assets}';
  block props