extends ./models/_model.jade
block props
  script#props(style='display:none')!=props
  script.
    window.props = {
      mode: 'platforms',
      title: 'Platforms',
      description: "A video game console is a device that outputs a video signal or visual image to display a video game. The term \"video game console\" is used to distinguish a console machine primarily designed for consumers to use for playing video games in contrast to arcade machines or home computers. It includes home video game consoles, handheld game consoles, microconsoles and dedicated consoles.",
      overview: "See all the platforms available in the database",
      theme: '#1abc9c',
      rows: JSON.parse(document.getElementById('props').textContent),
      columns: ["id", "name", "original_price", "online_support", "release_date", "deck", "description"],
      videos: [],
      images: []
    }