html
  head
    link(rel='stylesheet', type='text/css', href=assets + 'dist/css/app.min.css')
    link(rel='stylesheet', type='text/css', href=assets + 'css/fixed-data-table.css')
    script(src=(assets + 'dist/asr/model/Bootstrap.min.js') defer)
  body
  block props