html
  head
    link(rel='stylesheet', type='text/css', href=assets + 'dist/css/index.min.css')
    script(src=(assets + 'dist/asr/index/Bootstrap.min.js') defer)
  body
  script.
    var $ASSETS = '#{assets}';
  block props